{
    "extends": [
        "@tada5hi/eslint-config-vue-typescript"
    ],
    "parserOptions": {
        "project": "./tsconfig.json",
        "extraFileExtensions": [".vue"]
    },
    "ignorePatterns": [
        "**/dist/**/*",
        "**/cache/**/*"
    ],
    "globals": {
        "NodeJS": true
    },
    "rules": {
        "import/no-extraneous-dependencies": "off",
        "vue/no-v-for-template-key": "off"
    }
}
