.entity-card {
    background-color: #ececec;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1);
    padding: .5rem 1rem;
    position: relative;
    transition: all .3s ease-in-out;
    word-break: break-all;
}

.entity-card.active {
    background-color: #413d3d !important;
    color: #eee;
}
