body {
    background: inherit;
    color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin-bottom: inherit;
}

.page-title {
    padding: 48px 32px;
    text-align: center;
}
@media (min-width: 768px) {
    .page-title {
        padding: 64px 48px 48px;
    }
}
@media (min-width: 960px) {
    .page-title {
        padding: 80px 64px 48px;
    }
}
.page-title .page-title-text {
    letter-spacing: 0;
    line-height: 44px;
    font-size: 36px;
    font-weight: 500;
}
@media (min-width: 768px) {
    .page-title .page-title-text {
        letter-spacing: -0.5px;
        line-height: 56px;
        font-size: 48px;
    }
}

.entity-card {
    background-color: var(--vp-c-bg-soft);
    border: 1px solid var(--vp-c-bg-soft);
    border-radius: 4px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1);
    padding: .5rem 1rem;
    position: relative;
    transition: all .3s ease-in-out;
    word-break: break-all;
}

.entity-card.active {
    background-color: #413d3d;
    color: #eee;
}

.dark .entity-card.active {
    background-color: var(--vp-c-brand-1);
    border-color: var(--vp-c-brand-2);
}

.alert {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
    --bs-alert-border-radius: var(--bs-border-radius);
    --bs-alert-link-color: inherit;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius);
}

.alert-primary {
    --bs-alert-color: var(--bs-primary-text-emphasis);
    --bs-alert-bg: var(--bs-primary-bg-subtle);
    --bs-alert-border-color: var(--bs-primary-border-subtle);
    --bs-alert-link-color: var(--bs-primary-text-emphasis);
}

.alert-secondary {
    --bs-alert-color: var(--bs-secondary-text-emphasis);
    --bs-alert-bg: var(--bs-secondary-bg-subtle);
    --bs-alert-border-color: var(--bs-secondary-border-subtle);
    --bs-alert-link-color: var(--bs-secondary-text-emphasis);
}

.alert-success {
    --bs-alert-color: var(--bs-success-text-emphasis);
    --bs-alert-bg: var(--bs-success-bg-subtle);
    --bs-alert-border-color: var(--bs-success-border-subtle);
    --bs-alert-link-color: var(--bs-success-text-emphasis);
}

.alert-info {
    --bs-alert-color: var(--bs-info-text-emphasis);
    --bs-alert-bg: var(--bs-info-bg-subtle);
    --bs-alert-border-color: var(--bs-info-border-subtle);
    --bs-alert-link-color: var(--bs-info-text-emphasis);
}

.alert-warning {
    --bs-alert-color: var(--bs-warning-text-emphasis);
    --bs-alert-bg: var(--bs-warning-bg-subtle);
    --bs-alert-border-color: var(--bs-warning-border-subtle);
    --bs-alert-link-color: var(--bs-warning-text-emphasis);
}

.alert-danger {
    --bs-alert-color: var(--bs-danger-text-emphasis);
    --bs-alert-bg: var(--bs-danger-bg-subtle);
    --bs-alert-border-color: var(--bs-danger-border-subtle);
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
}

.alert-light {
    --bs-alert-color: var(--bs-light-text-emphasis);
    --bs-alert-bg: var(--bs-light-bg-subtle);
    --bs-alert-border-color: var(--bs-light-border-subtle);
    --bs-alert-link-color: var(--bs-light-text-emphasis);
}

.alert-dark {
    --bs-alert-color: var(--bs-dark-text-emphasis);
    --bs-alert-bg: var(--bs-dark-bg-subtle);
    --bs-alert-border-color: var(--bs-dark-border-subtle);
    --bs-alert-link-color: var(--bs-dark-text-emphasis);
}

.pagination {
    display: flex;
    flex-direction: row;
    list-style: none !important;
}

.pagination .page-item {
    margin-top: 0px !important;
}

.pagination .page-item .page-link {
    padding: 0.25rem 0.75rem;
    background-color: var(--vp-c-bg-soft);
}

.pagination .page-item:first-child:not(:last-child) .page-link {
    border-radius: 6px 0px 0px 6px;
}

.pagination .page-item:last-child:not(:first-child) .page-link {
    border-radius: 0px 6px 6px 0px;
}

.person-item-list {
    margin: 0 !important;
}

.person-item-list li {
    margin-top: 0 !important;
}
